:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #0f172a;
  color: rgba(255, 255, 255, 0.87);
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: block;
}
